bg_color: #212121
font_color: #eeffff
error_font_color: #d15a79
cursor_color: #16b0ff
cursor_width: 2
vim_cursor_color: #fa5b62
vim_cursor_width: 4
unfocused_font_color: #252525
plain_header_font_color: #111111
header_font_color: #10a3ee
pygments_style: perldoc
line_color: #8a939d
heavy_line_color: #666666
splitter_color: #252525
title_bar_bg_color: #ffffff
title_bar_bg_opacity: 1
scrollbar_narrow_width: 4
scrollbar_width: 8
scrollbar_bg_color: #656565
scrollbar_thumb_color: #cccccc
scrollbar_hovered_thumb_color: #eeeeee
tb_bg_color: #222222
tb_bg_line_color: #252525
tb_tab_font_color: #d8d8d8
tb_tab_hovered_font_color: #00ffff
tb_tab_selected_font_color: #00ffff
tb_tab_selected_line_color: #00ffff
markup_font_color: #ea4c5f
list_sign_font_color: #52b4d9
todo_undone_color: #c85a57
todo_done_color: #b4b4b4
code_font_color: #ffff00
code_font_family: default
code_block_line_height: default
deleted_font_color: #888888
quote_sign_font_color: #16b0ff
quote_font_color: #16b0bb
bold_font_color: #ff007f
italic_font_color: #b34a4a
link_font_color: #0565ff
link_bg_color: #212121
link_alt_font_color: #55ff00
link_refer_font_color: #55ffff
image_font_color: #a24c9b
image_src_font_color: #d2429b
image_bg_color: #212121
footnote_font_color: #b45a5a
flow_line_width: 2
toc_pound_sign_font_color: #10a3ee
toc_bg_color: #212121
toc_focused_bg_color: #666666
comment_font_color: #252525
editor_selected_font_color: #efefef
editor_selected_bg_color: #ff0000
editor_progress_bg_color: #00b900
image_preview: 1
colorful: #1
keyword_bg_color: #ff1111
bg_color_for_export: #ffffff
bg_color_for_mobile: #fffcf6
font_color_for_export: #111111
font_color_for_mobile: #4c4436
html_bg_color: #efefef
html_font_color: #3c3c3c
html_header_font_color: #10a3ee
html_bold_font_color: #ff007f
html_block_bg_color: #fdfdfd
html_pre_bg_color: #f2ff9c
html_code_bg_color: #f2ff9c
html_line_color: #ff007f
html_strong_weight: bold
html_quote_sign_font_color: #16b0ff
ls_font_family: default
ls_bg_color: #212121
ls_selected_bg_color: #666666
ls_font_color: #b1b1b1
ls_hovered_font_color: #00ffff
ls_font_size: 12
ls_line_color: #232323
ls_controls_line_color: #252525
ls_controls_bg_color: #212121
ls_controls_font_color: #ffffff
ls_controls_note_font_color: #212121
ls_item_height: 3em
ft_line_color: #212121
ft_bg_color1: #323232
ft_bg_color2: #323232
ft_button_font_color: #fcfcfc
ft_button_font_size: 13
ft_label_font_size: 13
ft_button_hovered_font_color: #00aaff
ft_button_checked_font_color: #00aaff
ft_text_font_color: #fcfcfc
tray_window_bg_color: #dddddd
tray_window_line_color: #252525
tray_window_font_color: #333333
tray_window_button_color: #666666
tray_window_button_hovered_color: #ff0000
tb_bg_color3: #f8f8f8
tb_font_color: #999999
tb_bg_color1: #212121
tb_bg_bottom_line_color: #ffffff
tb_bg_color2: #212121